<!DOCTYPE html>
<head>
    <title>Macho Star Testing</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
</head>
<body>
    <div class="hero">
        <h1 id="logo">Macho Star Testing</h1>
        <p class="subtitle">Find your macho rank.</p>
    </div>

    <nav>
        <a class="nav" href="/">Home</a>
        <a class="nav" href="/test">Start Testing</a>
        <a class="nav" href="/admin">Admin Panel</a>
    </nav>

    <div class="container">
        <div class="card">
            <h2>Please click the Start Testing link in navigation or click this button to start testing</h2>
            <button class="button" onclick="startTesting()">Start Testing</button>
        </div>
    </div>
    <script src="/static/js/index.js"></script>
</body>
