<!DOCTYPE html>
<head>
    <title>Macho Star Testing</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
</head>
<body>
    <div class="hero">
        <h1 id="logo">Macho Star Testing</h1>
        <p class="subtitle">Find your macho rank.</p>
    </div>

    <nav>
        <a class="nav" href="/">Home</a>
        <a class="nav" href="/test">Start Testing</a>
    </nav>

    <div class="container">
        <div class="card">
            
        </div>
    </div>
</body>
