<!DOCTYPE html>
<head>
    <title>Macho Star Testing</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
</head>
<body>
    <div class="hero">
        <h1 id="logo">Macho Star Testing</h1>
        <p class="subtitle">Find your macho rank.</p>
    </div>

    <nav>
        <a class="nav" href="/">Home</a>
        <a class="nav" href="/test">Start Testing</a>
        <a class="nav" href="/admin">Admin Panel</a>
    </nav>

    <div class="container">
        <div class="card">
            <h2>Question 1: When was the Macho Website released?</h2>
            <input type="radio" name="q1a1">
            <label>A. Jan 22</label>
            <input type="radio" name="q1a2">
            <label>B. Jan 15</label>
            <input type="radio" name="q1a3">
            <label>C. Jan 10</label>
            <input type="radio" name="q1a3">
            <label>D. Jan 5</label>
        </div>
        <div class="card">
            <h2>Question 2: Who is the biggest rival of macho?</h2>
            <input type="radio" name="q1a1">
            <label>A. Dino club</label>
            <input type="radio" name="q1a2">
            <label>B. Pen club</label>
            <input type="radio" name="q1a3">
            <label>C. Bear club</label>
            <input type="radio" name="q1a3">
            <label>D. Fence club</label>
        </div>
    </div>
    <script src="/static/js/index.js"></script>
</body>
